#app {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

aside {
  & .aside-container {
    margin-inline: auto;
    max-width: 22.5rem;
    padding: 2rem;
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    min-height: 40rem;
  }

  & img {
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: 1rem;
  }

  & h1 {
    font: var(--h1);
    color: var(--pink);
    margin-bottom: .25rem;
  }

  & p {
    color: var(--text-heading);
    font: var(--text);
  }

}

main {

  & .main-container {
    margin-inline: auto;
    max-width: 22.5rem;
    padding-inline: 1rem;
    padding-block: 2rem;
    background-color: var(--shape-body);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  & header h2 {
    font: var(--h2);
    color: var(--text-heading);
  }

  & fieldset+fieldset {
    margin-top: 2rem;
  }

  & .customization {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (width >=80rem) {
  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  #app {
    grid-template-columns: 1.5fr 3fr;
    gap: 1.25rem;
    padding: 1.25rem;
    align-items: initial;
    justify-content: initial;

    height: 100vh;
    overflow: hidden;
  }

  aside {
    margin-left: auto;

    & .aside-container {
      margin-inline: initial;
      min-width: 25rem;
      border-radius: .75rem;
      min-height: 45.5rem;
    }
  }

  main {
    max-width: 51.25rem;
    overflow: auto;

    & .main-container {
      margin-inline: initial;
      max-width: 100%;
      padding: 5rem 8rem;
      border-radius: .75rem;
    }

    fieldset+fieldset {
      margin-top: 3rem;
      width: 100%;
    }
  }
}