.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.gap-16 {
  gap: 1rem
}

.gap-auto {
  justify-content: space-between;
}

.desktop-only {
  display: none;
}

@media (width >=80em) {
  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .desktop-only {
    display: initial;
  }
}